In [1]:
import pandas as pd
import json
db = json.load(open('database.json'))
len(db)

6636

In [2]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [3]:
db[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [4]:
nutrients = pd.DataFrame(db[0]['nutrients'])

In [5]:
nutrients[:7]

     value units                  description        group
0    25.18     g                      Protein  Composition
1    29.20     g            Total lipid (fat)  Composition
2     3.06     g  Carbohydrate, by difference  Composition
3     3.28     g                          Ash        Other
4   376.00  kcal                       Energy       Energy
5    39.28     g                        Water  Composition
6  1573.00    kJ                       Energy       Energy

In [12]:
len(db)

6636

In [7]:
info_keys = ['description', 'group', 'manufacturer', 'id']
info = pd.DataFrame(db, columns=info_keys)
type(info['manufacturer'][0])

str

In [8]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   6636 non-null   object
 1   group         6636 non-null   object
 2   manufacturer  5195 non-null   object
 3   id            6636 non-null   int64
dtypes: int64(1), object(3)
memory usage: 207.5+ KB

In [9]:
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Name: group, dtype: int64

In [10]:
nutrients

       value units                         description        group
0     25.180     g                             Protein  Composition
1     29.200     g                   Total lipid (fat)  Composition
2      3.060     g         Carbohydrate, by difference  Composition
3      3.280     g                                 Ash        Other
4    376.000  kcal                              Energy       Energy
..       ...   ...                                 ...          ...
157    1.472     g                              Serine  Amino Acids
158   93.000    mg                         Cholesterol        Other
159   18.584     g        Fatty acids, total saturated        Other
160    8.275     g  Fatty acids, total monounsaturated        Other
161    0.830     g  Fatty acids, total polyunsaturated        Other

[162 rows x 4 columns]

* nutri = pd.DataFrame(l1)

* id_ = [db[i]['id'] for i in range(len(db))]

* nutri['id'] = id_

* nu_df = pd.concat([nutri])
* nu_df

In [64]:
li = [db[i]['nutrients'] for i in range(len(db))]
info_keys = ['value', 'units', 'description', 'group']

li1 = pd.DataFrame(db['id'])
li1

# nutri = pd.DataFrame()
# for i in range(len(li)):
#     a = pd.DataFrame(li[i], columns=info_keys)
#     df = nutri.append(a)
#     nutri = df
# df
    

    
# nutri = pd.DataFrame(l1[56], columns=info_keys)
# len(nutri)
# nutri = pd.DataFrame(l1)


# nutri['id'] = id_

# nu_df = pd.concat([nutri])
# nu_df

ValueError: DataFrame constructor not properly called!